{% if not author %}
      <h2>The author you are looking for does not exist</h2>
      {% else %}
      <h1>{{ author.display_name }}</h1>
      <p>Twittercloning since: {{ author.joined_date }}</p>
      <h5>Follows: {{ author.follows.count}}</h5>
      <h3>{{ author.display_name }}'s Twitterclones:</h3>
      <ul>
        {% for post in posts %}
        <li>
          <a href="/post/{{ post.id }}/">{{ post.content }} -- {{ post.post_time}}</a>
        </li>
        {% endfor %}
      </ul>
      <a href="/unfollow/{{author.id}}">Unfollow</a>
    
      <a href="/follow/{{author.id}}">Follow</a>
      

      {% endif %}
      <div>
        <a href="/">Back to homepage</a>
      </div>
    </div>