{% if not author %}
      <h2>The author you are looking for does not exist</h2>
      {% else %}
      <h1>{{ author.username }}</h1>

      <div>
        {% if author.profile_image %}
        <img
          src="{{ author.profile_image.url }}"
          alt="{{ author.username }}"
          style="width: 150px; max-height: 200px;"
        />
        {% else %}
        <img
          src="/media/images/filler_photo.jpg"
          alt="{{ author.username }}"
          style="width: 150px; max-height: 200px;"
        />

        {% endif %}
      </div>



      <p>Twittercloning since: {{ author.joined_date }}</p>
      <p>What I do: {{author.job_title}}</p>
      <p>About me: {{author.bio}}</p>
      <a href="/postform/">Ping me at: @{{author.username}}</a>
      <h5>Total Twitterclones: {{posts.count}}</h5>
      <h3>{{ author.username }}'s Twitterclones:</h3>
      <ul>
        {% for post in posts %}
        <li>
          <a href="/post/{{ post.id }}/">{{ post.content }} -- {{ post.post_time}}</a>
        </li>
        {% endfor %}
      </ul>

      {% if request.user.id == author.id %}
      
      <a href="edit/">Edit profile</a>
      <button>
        <a
          class="bar"
          href="remove/"
          onclick="return confirm('Are you sure you want to delete this profile?')"
          >Delete profile</a
        >
      </button>
      {% if pings.count >= 1 %}
      <a href="/notifications/">You Have Notifications!</a>
      {% else %}
      <p>You Have No Notifications</p>
      {% endif %}
      {% endif %}

      

     
<div>
      {% if request.user.is_authenticated %}
      <h5>Follows: {{ author.follows.count}}</h5>
      {% if author.id != request.user.id %}
      {% if author in my_following %}
      <p>You are following this Twittercloner!
      <a href="/unfollow/{{author.id}}">Unfollow</a></p>
      {% else %}
      <p>Do you know this Twittercloner?
      <a href="/follow/{{author.id}}">Follow</a></p>
      {% endif %}  
      {% endif %}
     {% endif %} 
     {% endif %}
    </div>  
      <div>
        <a href="/">Back to homepage</a>
      </div>
    </div>