{% extends "base.html" %}
{% block content %}

<div id="main-column" class="container">
<h4>Twittercloners you may know:</h4>
</br>
</br>
{% for users in user_list %}
{% if users not in request.user.follows.all %}
{% if users != request.user %}



    {% if users.profile_image %}
    <img class="img-thumbnail"
      src="{{ users.profile_image.url }}"
      alt="{{ users.username }}"
      style="width: 50px; max-height: 80px;"
    />
    {% else %}
    <img class="img-thumbnail"
      src="/media/images/filler_photo.jpg"
      alt="{{ users.username }}"
      style="width: 40px; max-height: 80px;"
    />
    {% endif %}

</br>
</br>
    <a class="btn btn-sm" href="/{{users.username}}/" role="button">{{users.username}}</a> 
</br>
</br>
<i>What I do: {{users.job_title}}</i>
<p>----------------------------------</p>
{% endif %}
{% endif %}
{% endfor %}
</br>
</div>
</div>
{% endblock %}