<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Twitterclone</title>
  </head>

  <body>


    <div>
        <h4>Twittercloners you may know:</h4>
    {% for users in user_list %}
    {% if users not in request.user.follows.all %}
    {% if users != request.user %}
    <a href="{{users}}/">{{users.username}}</a> 
  </br>
    {% endif %}
    {% endif %}
    {% endfor %}
</br>
  </div>

    <div>
      {% if request.user.is_authenticated%}
      <button>
        <a href="/logout/">Log Out</a>
      </button>
      <button>
        <a href="/{{request.user.username}}/">Go to Profile</a>
      </button>
      <button>
        <a href="/postform/">Create a Tweetclone</a>
      </button>
      {% else %}
      <button>
        <a href="/login/">Log In</a>
      </button>
      <button>
        <a href="/signup/">Create an account</a>
      </button>
      {% endif %}
    </div>


    <h1>Hello, {{ request.user.username }}!</h1>
    <h5>Tweetcloning since: {{ request.user.joined_date }}</h5>
    
    <p>-----------------------------------------</p>
    <div>

        
      {% for post in post_list %}
      {% if post.author in request.user.follows.all or post.author == request.user%}
      <ul>
          <li>

      <h3>{{post.content}}</h3>
      <h4>{{ post.post_time}}</h4>
      <a href="/post/{{ post.id }}/">See post</a>
    </br>
    <p>Tweetcloned by 
      <a href="/{{ post.author.username }}/"
        >@{{ post.author.username }}</a
      ></p>
    </li>
    </ul>
      <p>-----------------------------------------</p>
      
      {% endif %}
      {% endfor %}
    </div>

  </body>
</html>
