{% extends "base.html" %}
{% block content %}

  <div id="main-column" class="container" style="display: block; text-align: center;">
    <h1>Hello, {{ request.user.username }}!</h1>
    <h5>Tweetcloning since: {{ request.user.joined_date }}</h5>
    
    <p>-----------------------------------------</p>
    <div>
    {% for post in post_list %}
      {% if post.author in request.user.follows.all or post.author == request.user%}
      <ul>

      <h3>{{post.content}}</h3>
      <h4>{{ post.post_time}}</h4>
      <h5>Thumb's up: {{ post.total_votes}}</h5>
      <a href="/post/{{ post.id }}/">See post</a>
    </br>
    <p>Tweetcloned by 
      <a href="/{{ post.author.username }}/"
        >@{{ post.author.username }}</a
      ></p>

      {% if post.author.profile_image %}
    <img class="img-thumbnail"
      src="{{ post.author.profile_image.url }}"
      alt="{{ post.author.username }}"
      style="width: 50px; max-height: 80px;"
    />
    {% else %}
    <img class="img-thumbnail"
      src="/media/images/filler_photo.jpg"
      alt="{{ users.username }}"
      style="width: 40px; max-height: 80px;"
    />

    {% endif %}
   
    </li>
    </ul>
      <p>-----------------------------------------</p>
      {% endif %}
      
      {% endfor %}
      
    </div>
    </div>
{% endblock %}
  
