{% extends "base.html" %}
{% block content %}
  


    <div>
        <h4>Twittercloners you may know:</h4>
    {% for users in user_list %}
    {% if users not in request.user.follows.all %}
    {% if users != request.user %}
    <a href="{{users}}/">{{users.username}}</a> 
  </br>
    {% endif %}
    {% endif %}
    {% endfor %}
</br>
  </div>


    <h1>Hello, {{ request.user.username }}!</h1>
    <h5>Tweetcloning since: {{ request.user.joined_date }}</h5>
    
    <p>-----------------------------------------</p>
    <div>
      {% for post in post_list %}

      {% if post.author in request.user.follows.all or post.author == request.user%}
      <ul>

      <h3>{{post.content}}</h3>
      <h4>{{ post.post_time}}</h4>
      <a href="/post/{{ post.id }}/">See post</a>
    </br>
    <p>Tweetcloned by 
      <a href="/{{ post.author.username }}/"
        >@{{ post.author.username }}</a
      ></p>

      {% if post.author.profile_image %}
    <img
      src="{{ post.author.profile_image.url }}"
      alt="{{ post.author.username }}"
      style="width: 50px; max-height: 80px;"
    />
    {% else %}
    <img
      src="/media/images/filler_photo.jpg"
      alt="{{ users.username }}"
      style="width: 40px; max-height: 80px;"
    />

    {% endif %}

    </li>
    </ul>
      <p>-----------------------------------------</p>
      
      {% endif %}
      {% endfor %}
    </div>
{% endblock %}
  
