{% extends "base.html" %}
{% block content %}

    {% if post.author == request.user %}
    <a href="edit/">Edit post</a>

    <button>
      <a
        class="bar"
        href="remove/"
        onclick="return confirm('Are you sure you want to delete this post?')"
        >Delete post</a
      >
    </button>

    {% endif %}
    <h1>{{ post.content}}</h1>
    <h2>{{post.author}}</h2>
    <h3>{{post.post_time}}</h3>
    
</br>



<div>
{% if request.user.is_authenticated %}
<div>
    <a href="/{{ post.author.username }}/"
      >More about {{ post.author.username }}</a
    >
  </div>
</br>
<button>
<a href="/upvote/{{ post.id }}/">Thumb's Up</a>
</button>
<button>
<a href="/downvote/{{ post.id }}/">Thumb's Down</a>
</button>
</div>
{% else %}
<div>
    <a href="/{{ post.author.username }}/public/"
      >More about {{ post.author.username }}</a
    >
  </div>
</br>
{% endif %}
<div>
<h6>Total votes: {{post.total_votes}}</h6>
</div>

{% endblock %}